* {
  font-family: 'Roboto', sans-serif;
}

header {
  position: relative;
}

nav {
  height: 50px;
}

.fixed_menu {
  display: block;
  position: fixed;
  z-index: 3;
  background: #212121;
  width: 100%;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style: none;
}

.menu .menu_link {
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
  text-decoration: none;
}

.menu .menu_item {
  border-right: 2px dotted black;
  padding-right: 42px;
}

.subheader {
  position: absolute;
  width: 100%;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6);
  mix-blend-mode: normal;
}

.subheader .subheader_official {
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  opacity: 0.5;
  margin-top: 6px;
}

.subheader .subheader_logo {
  display: block;
  max-width: 100%;
  margin-top: 16px;
}

.subheader .subheader_call {
  color: #ffffff;
  font-weight: 300;
  font-size: 12px;
  text-align: right;
  margin-top: 19px;
}

.subheader .subheader_phone {
  color: #ffffff;
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: none;
}

.subheader .subheader_btn {
  color: #ffffff;
  margin-top: 19px;
  font-weight: 400;
  font-size: 14px;
  width: 172px;
  height: 46px;
  border: none;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
  box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}

.promo {
  min-height: 800px;
  background: url('../img/uber_bg.png') center center/cover no-repeat;
  padding: 50px 0px 135px 0px;
}

.promo .promo_header {
  color: #ffffff;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-top: 80px;
}

.promo .promo_subheader {
  color: #ffffff;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-top: 22px;
}

.promo .promo_descr {
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  margin-top: 23px;
}

.promo .promo_btn {
  color: #ffffff;
  display: block;
  width: 259px;
  height: 63px;
  border: none;
  border-radius: 4px;
  font-weight: 400;
  font-size: 18px;
  background: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
  box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
  margin: 0 auto;
  margin-top: 115px;
}

.advantage {
  padding: 20px 0px 0px 0px;
}

.advantage .advantage_text {
  color: #ffffff;
  font-weight: 400;
  font-size: 11px;
  padding-top: 5px;
  text-align: center;
  text-transform: uppercase;
  mix-blend-mode: normal;
  width: 112px;
  height: 24px;
  background: #000000;
  margin: 0 auto;
}

.advantage .eightreasons {
  color: #222222;
  min-height: 48px;
  margin: 0 auto;
  margin-top: 33px;
  font-weight: 700;
  font-size: 38px;
  display: block;
  text-align: center;
  text-transform: uppercase;
}

.blue_and_round {
  height: 116px;
  width: 116px;
  background-color: #1eacc7;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 36px;
  margin-left: 88px;
}

.blue_and_round_position {
  display: flex;
  justify-content: baseline;
}

.img_descr {
  margin-top: 26px;
  margin-left: 26px;
  min-width: 371px;
}

.img_descr span {
  font-weight: 400;
  font-size: 17px;
  color: #1eacc7;
}
